#cloud-config
autoinstall:
  apt:
    disable_components: []
    fallback: abort
    geoip: true
    mirror-selection:
      primary:
      - country-mirror
      - arches:
        - amd64
        - i386
        uri: http://archive.ubuntu.com/ubuntu
      - arches:
        - s390x
        - arm64
        - armhf
        - powerpc
        - ppc64el
        - riscv64
        uri: http://ports.ubuntu.com/ubuntu-ports
    preserve_sources_list: false
  codecs:
    install: false
  drivers:
    install: false
  identity:
    hostname: {{ hostname }}
    password: $6$MAZ5PExqxansCj4j$ZXzNVaQbc7ZgqyrfC706X3odA1ldzCiU6uVMG39e6JAFAEawpM4bG4RifShss4R/E1ZJGWAAPZzyEGnCCExib1
    realname: Apache cloudstack ssh insertion user account
    username: cloudstack
  kernel:
    package: linux-generic
  keyboard:
    layout: us
    toggle: null
    variant: ''
  locale: en_US.UTF-8
  late-commands:
    - |
      curtin in-target --target=/target -- cat > /etc/sudoers.d/cloudstack << EOF
      cloudstack ALL=(ALL) NOPASSWD: ALL
      EOF
    - curtin in-target --target=/target -- sed -i 's/GRUB_TIMEOUT=0/GRUB_TIMEOUT=1/g' /etc/default/grub
    - curtin in-target --target=/target -- update-grub
  network:
    ethernets:
      eno1:
        critical: true
        dhcp-identifier: mac
        dhcp4: false
        addresses: [{{ ipaddress }}/24]
        routes:
        - to: default
          via: 192.168.0.1
        nameservers:
          addresses:
          - 192.168.0.1
          - 8.8.8.8
    version: 2
  source:
    id: ubuntu-server
    search_drivers: false
  ssh:
    allow-pw: true
    authorized-keys: [{{ management_key }}]
    install-server: true
  storage:
    config:
    - ptable: gpt
      serial: ST3320413AS_S2A3870N
      wwn: '0x5000c5004a055350'
      path: /dev/sda
      preserve: true
      name: ''
      grub_device: true
      type: disk
      id: disk-sda
    - device: disk-sda
      size: 1048576
      flag: bios_grub
      number: 1
      preserve: true
      grub_device: false
      offset: 1048576
      partition_type: 21686148-6449-6e6f-744e-656564454649
      path: /dev/sda1
      type: partition
      id: partition-sda1
    - device: disk-sda
      size: 2147483648
      wipe: superblock
      flag: linux
      number: 2
      preserve: true
      grub_device: false
      offset: 2097152
      partition_type: 0fc63daf-8483-4772-8e79-3d69d8477de4
      path: /dev/sda2
      type: partition
      id: partition-sda2
    - fstype: ext4
      volume: partition-sda2
      preserve: false
      type: format
      id: format-1
    - device: disk-sda
      size: 317921951744
      flag: linux
      number: 3
      preserve: true
      grub_device: false
      offset: 2149580800
      partition_type: 0fc63daf-8483-4772-8e79-3d69d8477de4
      path: /dev/sda3
      type: partition
      id: partition-sda3
    - name: ubuntu-vg
      devices:
      - partition-sda3
      preserve: true
      type: lvm_volgroup
      id: lvm-volgroup-ubuntu-vg
    - name: ubuntu-lv
      volgroup: lvm-volgroup-ubuntu-vg
      size: 317919854592B
      wipe: superblock
      preserve: true
      path: /dev/ubuntu-vg/ubuntu-lv
      type: lvm_partition
      id: lvm-partition-ubuntu-lv
    - fstype: ext4
      volume: lvm-partition-ubuntu-lv
      preserve: false
      type: format
      id: format-0
    - path: /
      device: format-0
      type: mount
      id: mount-0
    - path: /boot
      device: format-1
      type: mount
      id: mount-1
  updates: security
  version: 1
