network:
  version: 2
  renderer: networkd
  ethernets:
    {{ ansible_default_ipv4.interface }}:
      dhcp4: false
      dhcp6: false
      optional: true
      mtu: {{ network_mtu }}
  vlans:
    {{ ansible_default_ipv4.interface }}.{{ cloudbr1_vlan_number }}:
      id: {{ cloudbr1_vlan_number }}
      link: {{ ansible_default_ipv4.interface }}
      dhcp4: false
  bridges:
    cloudbr0:
      addresses: [{{ ansible_default_ipv4.address }}/24]
      routes:
      - to: default
        via: {{ default_router_ip }}
      nameservers:
        addresses: [{{ dns_addresses_ip }}]
      interfaces: [{{ ansible_default_ipv4.interface }}]
      dhcp4: false
      dhcp6: false
      parameters:
        stp: true
        forward-delay: 0
    cloudbr1:
      dhcp4: false
      interfaces: [{{ ansible_default_ipv4.interface }}.{{ cloudbr1_vlan_number}}]
