#cloud-config
autoinstall:
  apt:
    disable_components: []
    fallback: abort
    geoip: true
    mirror-selection:
      primary:
      - country-mirror
      - arches:
        - amd64
        - i386
        uri: http://archive.ubuntu.com/ubuntu
      - arches:
        - s390x
        - arm64
        - armhf
        - powerpc
        - ppc64el
        - riscv64
        uri: http://ports.ubuntu.com/ubuntu-ports
    preserve_sources_list: false
    primary:
    - arches:
      - amd64
      - i386
      uri: http://us.archive.ubuntu.com/ubuntu
    - arches:
      - default
      uri: http://ports.ubuntu.com/ubuntu-ports
  drivers:
    install: false
  identity:
    hostname: {{ hostname }}
    password: $6$WBTW0aBxfHm.f7b.$7T8pwCd5lR/OES4qLFYzqxj5UArdnBhrMfjWFA6pAaFs2bw4x4qsfzByAWC9Nmt3jE/8Qlo/b8PHB19ufW5.p0
    realname: Apache cloudstack ssh insertion user account
    username: cloudstack
  kernel:
    package: linux-generic
  keyboard:
    layout: us
    toggle: null
    variant: ''
  locale: en_US.UTF-8
  late-commands:
    - |
      curtin in-target --target=/target -- cat > /etc/sudoers.d/cloudstack << EOF
      cloudstack ALL=(ALL) NOPASSWD: ALL
      EOF
    - curtin in-target --target=/target -- sed -i 's/GRUB_TIMEOUT=0/GRUB_TIMEOUT=1/g' /etc/default/grub
    - curtin in-target --target=/target -- update-grub
  network:
    ethernets:
      eno1:
        addresses:
        - [{{ ipaddress }}/24]
        critical: true
        dhcp-identifier: mac
        dhcp4: false
        nameservers:
          addresses:
          - 192.168.0.1
          - 8.8.8.8
        routes:
        - to: default
          via: 192.168.0.1
    version: 2
  source:
    id: ubuntu-server
    search_drivers: false
  ssh:
    allow-pw: true
    authorized-keys: [{{ management_key }}]
    install-server: true
  storage:
    config:
    - ptable: gpt
      serial: ST3320413AS_S2A386QA
      wwn: '0x5000c5004a05a0e4'
      path: /dev/sda
      wipe: superblock-recursive
      preserve: false
      name: ''
      grub_device: true
      type: disk
      id: disk-sda
    - device: disk-sda
      size: 1048576
      flag: bios_grub
      number: 1
      preserve: false
      grub_device: false
      offset: 1048576
      type: partition
      id: partition-0
    - device: disk-sda
      size: 4294967296
      wipe: superblock
      number: 2
      preserve: false
      grub_device: false
      offset: 2097152
      type: partition
      id: partition-1
    - fstype: ext4
      volume: partition-1
      preserve: false
      type: format
      id: format-0
    - device: disk-sda
      size: 315774468096
      wipe: superblock
      number: 3
      preserve: false
      grub_device: false
      offset: 4297064448
      type: partition
      id: partition-2
    - fstype: ext4
      volume: partition-2
      preserve: false
      type: format
      id: format-1
    - path: /
      device: format-1
      type: mount
      id: mount-1
    - path: /boot
      device: format-0
      type: mount
      id: mount-0
  updates: security
  version: 1
